[2017-10-12 02:43] minggo opened #8 "Updating en docs"
## Getting Started

- [x] About Cocos2d-x
- [ ] Why Cocos2d-x
- [ ] How to learn
- [ ] Where to get help
- [ ] How to contribute

....

[2017-10-12 03:03] drelaptop opened #9 "更新中文文档 - 环境搭建"
## 环境搭建

- [x] Android - Android Studio
- [x] Win32 - Visual Studio
- [x] Android - Visual Studio `Don't Support`
- [x] macOS 平台
- [x] iOS 平台
- [x] Linux 平台
- [x] Android - Eclipse `` `Deprecated`

- [x] Android - Command-line

[2017-10-12 22:31] slackmoehrle commented on #8
@minggo I tried to make a format that allows us to see both English and Chinese progress but I could not get the __to-do__ functionality to work inside a table. Would you like me to re-do this?

[2017-10-13 01:10] minggo commented on #8
what does it mean?

[2017-10-13 01:13] slackmoehrle commented on #8
it means I could not make check boxes like you had to just check off when complete.

[2017-10-13 01:14] minggo commented on #8
Oh, not problem, this format works too.

[2017-10-13 01:21] slackmoehrle commented on #8
for installation docs, I need to test 3.16 and install instructions on platforms right, just in case? OS X, Linux, Windows, etc? @drelaptop says he has tested Android already. 对不对？

[2017-10-13 01:22] minggo commented on #8
I think these sections are not needed:

* VR: we don't maintain it now, not device to test too
* Tizen, Windows Phone: they are not supported now

[2017-10-13 01:25] slackmoehrle commented on #8
Can we keep them and mark them deprecated? Just in case someone still uses them? We can mark the docs as 3.15 only?

[2017-10-13 01:26] minggo commented on #8
yep, mark them as deprecated is a good idea, and `Android - Eclipse` should be deprecated too.

[2017-10-13 01:28] slackmoehrle commented on #8
知道了

[2017-10-13 01:35] minggo commented on #8
Tizen and Windows Phone are not supported in v3.16 too

[2017-10-13 01:36] slackmoehrle commented on #8
yup. I will mark deprecated and only for v3.15 as last supported version for Tizen, Windows Phone and Eclipse.

[2017-10-13 02:08] drelaptop commented on #8
@slackmoehrle For installation docs I have tested on Android Studio 2.3.3 , Visual Studio 2015, IOS on Xcode8.3.3, macOS on XCode8.3.3, cpp-tests project works well. can you tested it on Linux and Android-Command Line Tool ？

[2017-10-13 17:53] slackmoehrle commented on #8
Priorities:
- [] Creatot To Cocos2d-x
- [] SQLite
- [] Multi-resolution
- [] Audio Engine
- [] Prebuilts
- [] Test installation -> Windows, OS X, Linux and modify install docs if needed

[2017-10-16 18:58] slackmoehrle opened #14 "Improving Release Notes"
I would like to improve our release notes that we send out to developers. UnReal does an amazing job, example: https://www.unrealengine.com/en-US/blog/unreal-engine-4-17-released

What do you think about improving the quality of the release notes with more graphics and videos? (if the features make sense for these extras).

[2017-10-17 01:19] minggo commented on #14
It is better if we can provide more graphics and videos. Did you mean we should put release note here?

[2017-10-17 01:34] slackmoehrle commented on #14
@minggo Yes, I think since they are static after releasing we should make a section and start adding v3.15, v3.16 +.

[2017-10-17 01:48] minggo commented on #14
k, sounds reasonable

[2017-10-18 22:06] slackmoehrle commented on #9
@minggo @drelaptop Linux is now done. Tested with Ubuntu 16.04.1. The only issue I ran into is the __fmod__ dependency, which is already a known issue for Linux developers.

[2017-10-19 00:41] minggo commented on #9
Yep, i have not idea with the issue, can we mention about how to fix it manually in the doc?

[2017-10-19 01:25] drelaptop commented on #9
`Android - Command-line`, this part I also didn't test, will you test it in the next weeks. now I have begun translation @slackmoehrle

[2017-10-19 11:50] slackmoehrle commented on #9
@minggo sure, we have some GitHub issues that state how to fix it. I will review those and add the steps into the doc for Linux.

@drelaptop Android Command-line on what platforms?

[2017-11-07 04:50] drelaptop opened #37 "Error markdown format"
https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/physics/concepts.md
**has this content:**

###Material
Materials describe material attributes：

 usually set to be between 0 and 1. 0 means no bouncing while 1 means perfect
 bouncing.

**That should be:**

### Material
Materials describe material attributes：

 usually set to be between 0 and 1. 0 means no bouncing while 1 means perfect
 bou

[2017-11-07 10:09] drelaptop commented on #37
Another format error：

https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/physics/collisions.md

category it belongs to. You can also specify what other categories this shape can
collide with. This is done with masking bits. For example:

{% codetabs name="C++", type="cpp" -%}
auto sprite1 = addSpriteAtPosition(Vec2(s_centre.x - 150,s_centre.y));
sprite1->getPhysicsBody()->setCategoryBitmask

[2017-11-07 17:19] slackmoehrle commented on #37
These are both fixed. PR started.

[2017-11-08 10:04] #9 closed

[2017-11-08 10:09] drelaptop commented on #8
__3 Chapters__ be left for translation works

[2017-11-09 06:32] drelaptop commented on #37
In en/SUMMARY.md
[code]
`[File System Access]` link error, I will correct it.

[2017-11-20 10:15] #37 closed

[2017-11-20 10:28] drelaptop commented on #8
Now, the Chinese docs keep the same `[in-progress]` with English docs except `[deprecated] ` contents. @minggo

[2017-11-21 00:58] minggo commented on #8
@drelaptop thanks.
@slackmoehrle when will you finish the 3 docs? I will deploy it to Chinese forum when they are ready.

[2017-11-21 02:17] slackmoehrle commented on #8
I have 4 docs to complete. I updated the list above. I am busy for a few days this week, but I will try and work on them.

[2017-11-24 02:57] drelaptop opened #55 "Shaders and Materials"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/advanced_topics/shaders.md

[code]

The code block is a "Material" file content, but it is marked "JavaScript" codetabs, is it a mistake? @slackmoehrle

[2017-11-26 15:45] aksh1203 opened #56 "Audio Engines Compared"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/audio/engines.md

Nothing is here.

[2017-11-27 01:15] drelaptop commented on #56
4 items of the docs is not finished, and it's on the schedule. See the issue for detail: https://github.com/cocos2d/cocos2d-x-docs/issues/8

[2017-11-27 02:13] slackmoehrle commented on #56
There is some text http://cocos2d-x.org/docs/en/audio/
I need to finish the rest. I will do Audio first since you are asking for it. Thank you for mentioning this.

[2017-11-27 02:39] slackmoehrle commented on #55
谢谢。 我修复. 我提交了一个 PR.

[2017-11-27 02:39] #55 closed

[2017-11-28 00:17] Priority10 opened #62 "Actions"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/actions/index.md

Since the `next button` link to http://cocos2d-x.org/docs/en/actions/, nothing happens when you click on it.
Expected - go to the next article.
Actual - nothing happens.

[2017-11-28 00:29] Priority10 opened #63 "Android"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/installation/Android-terminal.md

In the left menu, click on Installations, then Android, then frustrating, since the first thing you see is that the document is deprecated. It looks like that Android support is deprecated itself.
Expected - a user should see http://cocos2d-x.org/docs/en/installation/Android-Studio.html page first.

It

[2017-11-28 00:40] Priority10 opened #64 "Installations"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/installation/index.md

`Python 2.7.5+` not only `Python 2.7.5`.

In case `win32` project, you need `Visual C++ Redistributable for Visual Studio 2012 x86` and `Visual C++ Redistributable for Visual Studio 2010 x86`.

[2017-11-28 01:17] minggo commented on #64
Yep, you are right. But can not use Python 3+.

[2017-11-28 01:22] drelaptop commented on #63
It's a good suggestion, and we will modify it

[2017-11-28 01:32] drelaptop commented on #62
Actually the chapter and the first part of this chapter both link one document file, so that GitBook can't deal with it.

for I find the [this place of Chinese Doc](http://cocos2d-x.org/docs/zh/actions/) `next button` works well

[2017-11-28 02:01] Priority10 commented on #62
So can it be fixed? Somehow.

p.s. I saw this problem in other chapters too.

[2017-11-28 02:02] Priority10 commented on #64
Then something like `Python 2.7.5+ but not Python 3+`?

[2017-11-28 02:22] slackmoehrle commented on #62
it is this way because them both reference the same URL. Most chapters work correctly because there is more pages for it and they are all named uniquely. I can fix this my renaming some of the pages to a new name. Let me look into how long this would take me.

[2017-11-28 02:37] Priority10 commented on #62
Nice, but it is kind of like not a critical issue.

[2017-11-28 02:45] slackmoehrle commented on #62
I am just going to work the whole day on docs to get many tasks done. Will be helpful to everyone

[2017-11-28 02:53] slackmoehrle commented on #64
I will update docs.

[2017-11-28 06:46] slackmoehrle commented on #62
handled in this PR: https://github.com/cocos2d/cocos2d-x-docs/pull/65

[2017-11-28 06:46] #62 closed

[2017-11-28 06:47] slackmoehrle commented on #63
handled in this PR: https://github.com/cocos2d/cocos2d-x-docs/pull/65

[2017-11-28 06:47] #63 closed

[2017-11-28 06:53] slackmoehrle commented on #64
handled in this PR: https://github.com/cocos2d/cocos2d-x-docs/pull/65

[2017-11-28 06:53] #64 closed

[2017-11-28 09:40] onobori opened #68 "Why Cocos2d-x"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/about/why.md

Viewing the bottom of this page from smartphone, the "Feedback" button is put on the "next" (>) button. That makes to touch the next button difficult.

[2017-11-28 09:42] onobori commented on #68
Sorry, I wrote a wrong URL. This issue happens on below.

http://cocos2d-x.org/docs/en/about/getting_started.html

[2017-11-28 13:50] slackmoehrle commented on #68
I'll check it out, I am not sure just how much support we will provide from a phone as most developers would view these docs on a computer or some sort. Let me talk it over with the docs team and see. Thank you for reporting this.

[2017-11-28 23:38] Priority10 commented on #62
Thank you!

[2017-11-28 23:38] Priority10 commented on #63
Thank you!

[2017-11-28 23:46] Priority10 commented on #68
Well, some of us learn when we are on the go. :)
I confirm, this happens on many pages, in fact depends on the screen resolution of the device.
The Feedback button should not be floating, this will solve the problem.

[2017-11-29 00:02] Priority10 opened #69 "Linux"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/installation/Linux.md

Link Cocos Command-line tool does not work.
404 error.

@slackmoehrle You need another new rule. :D

[2017-11-29 00:10] Priority10 opened #70 "Linux"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/installation/Linux.md

https://github.com/cocos2d/cocos2d-x/issues/18488
I'm not sure where the user got this. `Linux` seems like the most relevant page.

@slackmoehrle Can you confirm this? How about close or transfer that issue?

[2017-11-29 00:55] slackmoehrle commented on #69
I dont need a new rule, I just need to correct the URL. I will verify the rest of the installation docs are correct too.

[2017-11-29 01:15] slackmoehrle commented on #70
I will check this out. Thank you.

[2017-11-29 05:54] Priority10 commented on #69
My bad.
Then we will stop on how many rules? 105 now?))

[2017-11-29 09:52] onobori commented on #68
Think you for responding!

@slackmoehrle Same issue happens on the PC
browser with a small monitor. Actually, I confirm that a half-width browser has this issue. My laptop's monitor is 12.5 inch.

@Priority10 Great! I'm glad to hear that.

[2017-11-29 10:11] slackmoehrle commented on #68
Can you post a few screenshots, please?

[2017-11-30 02:43] drelaptop opened #71 "Sometimes pages Not Found will occur if click "中文" Button"
When user reads English docs the `getting_started` page of every chapter.

such as, click  "中文" Button on [http://cocos2d-x.org/docs/en/basic_concepts/getting_started.html](http://cocos2d-x.org/docs/en/basic_concepts/getting_started.html)

[2017-11-30 02:51] drelaptop commented on #71
Chinese docs didn't have `getting_started.html`, It need to been solved but not urgent.

Because it's a seldom occur for English Reader click "中文" button, and `getting_started.html` content is little.

[2017-11-30 02:55] slackmoehrle commented on #71
Agreed, not a high priority. I can always do this for you if you want. Of you could just copy EN docs there and translate later if you get more concerned.

[2017-11-30 02:58] drelaptop commented on #71
Thanks, but I can do it by myself, just do your business I know you are busy than me.

[2017-11-30 07:25] Priority10 commented on #68
iPhone 6
![iphone6](https://user-images.githubusercontent.com/33290238/33418787-929fdfbc-d5b8-11e7-8bd5-db65fd94673f.png)

Nexus 6P
![nexus 6p](https://user-images.githubusercontent.com/33290238/33418794-9834bc18-d5b8-11e7-8812-b93774df8ca5.png)

540x960
![540x960](https://user-images.githubusercontent.com/33290238/33418795-9a6ebf42-d5b8-11e7-9db4-1a47653ded15.png)

[2017-12-02 15:10] onobori commented on #68
Sorry for a late reply.

Xperia Z5
![screenshot_20171128-183018](https://user-images.githubusercontent.com/1475680/33516924-129e2afa-d7be-11e7-8f36-20c34ede3d2f.png)

683x768
![pc_firefox](https://user-images.githubusercontent.com/1475680/33516926-141b8e5e-d7be-11e7-87b1-3ca80c464ada.png)

[2017-12-11 09:17] slackmoehrle commented on #71
This is fixed now, correct?

[2017-12-12 01:30] drelaptop commented on #71
No, I don't fixed it for now, I think it's not necessary, except developer thinks it will case doubt.

[2017-12-13 12:37] drelaptop commented on #68
maybe we can realize "Feedback" by footer, I find some [footer plugins](https://plugins.gitbook.com/browse?q=footer), that will make some help.

[2017-12-13 14:06] slackmoehrle commented on #68
Cool, thanks for looking. Lets have a try with these locally. I can help.

[2017-12-15 09:19] drelaptop opened #87 "引擎工具 binary模板已被移除 -t binary 参数不再适应"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/editors_and_tools/cocosCLTool.md
[code]

[2017-12-15 09:24] drelaptop opened #88 "Command-Line tool binary template have been removed"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/editors_and_tools/cocosCLTool.md
[code]
the command above error, see:
[code]
I suggest this paragraph was removed @slackmoehrle

[2017-12-15 09:45] slackmoehrle commented on #88
make sense. I will remove it.

[2017-12-15 09:46] djwind opened #89 "命令行 (已弃用)"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/installation/Android-terminal.md

![image](https://user-images.githubusercontent.com/3746553/34036286-ac6554aa-e1bf-11e7-8d23-09d8b42e7afe.png)

This command "brew install android-sdk android-ndk" is no available.

[2017-12-15 09:49] drelaptop commented on #89
`brew` is package manager tools in macOS, you need to install by yourself. see: https://brew.sh/

[2017-12-15 09:50] slackmoehrle commented on #89
We just need to fix the instructions now. It has moved:
[code]
I'll update the English docs.

[2017-12-15 09:53] drelaptop commented on #89
ok, I will update Chinese docs too

[2017-12-15 09:56] slackmoehrle commented on #89
The fix is:
[code]

[2017-12-15 09:59] slackmoehrle commented on #88
fixed in this PR: https://github.com/cocos2d/cocos2d-x-docs/pull/90

[2017-12-15 09:59] #88 closed

[2017-12-15 10:03] drelaptop commented on #87
see #91

[2017-12-15 10:03] #87 closed

[2017-12-15 10:05] drelaptop commented on #89
the same see #91 @djwind, close issue

[2017-12-15 10:05] #89 closed

[2017-12-15 10:54] djwind commented on #89
My "brew" is installed, just to tell you that you can update the document.

[2017-12-17 20:11] mfarooqi opened #92 "Why Cocos2d-x"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/about/why.md

On mobile display. Next button (to navigate next page) is under feedback button.

Pressed next button Luckily but difficulty

Thank you

[2017-12-18 02:03] drelaptop commented on #89
yes, I will. this have been update in Github [this](https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/installation/Android-terminal.md), and a little later in `www.cocos.com` @djwind

[2017-12-18 02:45] drelaptop commented on #92
thanks, and this issue is discussing in #68

[2017-12-18 02:45] #92 closed

[2017-12-20 05:00] drelaptop commented on #68
make feedback button responsive, the logic is:
[code]
docs on cocos2d-x.org have fixed this @onobori

[2017-12-20 05:00] #68 closed

[2017-12-21 14:51] onobori commented on #92
Thanks a lot!

[2017-12-22 09:19] nicoGateKeeper opened #101 "优先级"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/event_dispatcher/priority.md

[2017-12-22 09:19] nicoGateKeeper commented on #101
mark

[2017-12-22 09:36] drelaptop commented on #101
你好，这一节文档的叙述存在什么问题吗？ @nicoGateKeeper

[2017-12-22 09:39] nicoGateKeeper commented on #101
没有，只是手残点错了，不好意思

[2017-12-22 09:40] #101 closed

[2017-12-22 09:41] drelaptop commented on #101
欢迎阅读文档，学习 Cocos2d-x

[2017-12-31 11:18] Priority10 commented on #68
Nice. Thanks @drelaptop  !

[2017-12-31 11:22] Priority10 commented on #69
It seems that this issue is fixed now. Thanks @slackmoehrle  !

[2017-12-31 11:22] #69 closed

[2017-12-31 11:23] Priority10 commented on #70
Any progress?

[2018-01-01 16:39] jxsome opened #104 "了解引擎"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/index.md

[2018-01-02 01:21] drelaptop commented on #104
请问您需要反馈什么？[了解引擎] 这节的内容是否有错误之处 @jxsome

[2018-01-06 17:34] KAMIKAZEUA opened #106 "Pre-built Libraries"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/editors_and_tools/prebuilt_libraries.md

I can’t find any useful information of how to work with prebuilt libraries. Not step by step guide.
How can I setup a new project for android with prebuilt libs?
Also, for iOS it's simple, but anyway there should be a guide for any platform.

Moreover, prebuilt libraries should be n1 "feature" w

[2018-01-07 15:40] drelaptop commented on #106
Thanks for mention it. @slackmoehrle shell we write `Pre-built Libraries` docs first? I saw many developers have doubt about it, wonder this on English Forum, Chinese Forum, even Cocos2d-x's PR comments.

[2018-01-07 15:45] KAMIKAZEUA commented on #106
I would suggest you even push prebuilts like official manner of how to use this engine.
It's would be so easy and fast to use. Created project. Build & run instantly. No need to wait 5-10min to compile a heavy bunch of source code.

[2018-01-07 15:52] drelaptop commented on #106
What's your opinion @minggo on this suggestion? minggo is the main member of cocos2d-x team.

[2018-01-07 15:57] KAMIKAZEUA commented on #106
Yea, I know, but before that I've already suggested something like that and\or asking about prebuilts, like how to use them and so on. But got no response overall.

[2018-01-08 00:13] tomcam opened #107 "Script component documentation issue"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/scripting/script_component.md

Just learning Cocs2d-JS so this may be covered elsewhere, but this doesn't tell me where to get the Cocos engine files (maybe CCBoot.js? jsb.js?  not sure) and how to include them in my Javascript file (import statement? script tag?)

[2018-01-08 02:26] drelaptop commented on #106
minggo is busy recently, I will do prebuilts docs in this week.

[2018-01-08 02:33] drelaptop commented on #107
https://github.com/cocos2d/cocos2d-x/tree/v3/tests/js-tests

the `js-tests` project will do some help for you, and we suggest the developers prepare to use `cocos2d-js` change to use `Cocos Creator`, [Creator Docs](http://www.cocos2d-x.org/docs/creator/en/)

[2018-01-08 02:36] slackmoehrle commented on #106
Ios is documented but can use updating and work. Android we should just document Android Studio.

[2018-01-08 04:10] tomcam commented on #107
Just what I needed.Thanks.

[2018-01-08 04:10] #107 closed

[2018-01-09 01:12] minggo commented on #106
@drelaptop i think you can do it after using Cmake for all platforms, it may be easier.

[2018-01-09 01:20] drelaptop commented on #106
OK, I will. using Cmake is a better way to build `Pre-built Libraries`

[2018-01-09 07:12] GZWangyueyue opened #108 "SQLite 集成 TODO"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/advanced_topics/sqlite.md

[2018-01-09 07:30] drelaptop commented on #108
本节还未完成，请暂时参考旧文档 http://www.cocos.com/docs/native/v3/sqlite/zh.html @GZWangyueyue

[2018-01-16 09:21] jacoby24 opened #115 "按钮(Button)"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/ui_components/buttons.md

how could I call a api with lua? It is all the c++ function.

[2018-01-16 13:50] drelaptop commented on #115
You can find the api in [api docs](http://www.cocos2d-x.org/docs/api-ref/cplusplus/v3x/), click the switch button on the top right to change the content into Lua. Such as [Lua API - Button](http://www.cocos2d-x.org/docs/api-ref/cplusplus/v3x/d2/db1/classcocos2d_1_1ui_1_1_button.html#adf271b1be4c753b7f9ddf23e8f67c530)

As for [docs/cocos2d-x](http://cocos2d-x.org/docs/cocos2d-x/en/) not exist examp

[2018-01-16 13:51] drelaptop commented on #104
no response for 2 weeks

[2018-01-16 13:51] #104 closed

[2018-01-16 14:26] #108 closed

[2018-01-16 15:27] runningmomo opened #116 "精灵控制"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/sprites/manipulation.md

[2018-01-16 15:28] #116 closed

[2018-01-20 08:27] ambratoor-1 opened #117 "Getting Started"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/index.md

[2018-01-20 12:14] slackmoehrle commented on #117
What about this url?

[2018-01-22 08:00] jacoby24 opened #118 "UI 组件"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/ui_components/index.md

It is too difficult to find the function of one such as button,sprite and so on. This api docs is useless. Though lua is easy, but I can't find the right way to use it in cocos. I'm sad.

[2018-01-22 14:28] drelaptop commented on #118
api docs is here : http://www.cocos2d-x.org/docs/api-ref/cplusplus/v3x/ , you can skip into the api docs by api-ref button on the  top-bar

docs here http://docs.cocos.com/cocos2d-x/manual/en/ is published to help the new developers to get some knowledges about Cocos2d-x

[2018-02-05 08:04] drelaptop opened #119 "音乐和音效 oggg -> ogg"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/audio/index.md

[2018-02-06 06:37] #119 closed

[2018-02-06 06:37] #118 closed

[2018-02-06 06:37] #115 closed

[2018-02-06 06:37] #117 closed

[2018-02-20 03:53] ParkChen opened #123 "基本概念"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/basic_concepts/index.md

[2018-02-23 12:39] NaushadGpj opened #124 "Collision"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/physics/collisions.md

It's very difficult to implement the joints without a demo. so there should a demo code for every joints

[2018-02-23 13:16] slackmoehrle commented on #124
Have you looked in our Programmers Guide Sample and cpp-tests?

[2018-02-24 01:35] drelaptop commented on #123
any feedback? or this issue a mistake

[2018-02-24 09:12] lyzz0612 opened #126 "Creator to Cocos2d-x 插件"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/editors_and_tools/creator_to_cocos2dx.md

the CreatorReader seems to be in `creator` module rather than `cc`

[2018-02-24 09:35] drelaptop commented on #126
You said the truth, thanks for feedback this

Here is example code we can refer to.
https://github.com/minggo/cocos2d-x/blob/3ef7bd051f24de23767898b668c56cc34e7dee31/tests/lua-empty-test/src/mainscene.lua#L16

[2018-02-24 10:04] #126 closed

[2018-02-24 10:05] #123 closed

[2018-03-05 02:00] qiuhuayang opened #128 "了解引擎"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/index.md

[2018-03-05 02:00] #128 closed

[2018-03-05 05:30] 727023460 opened #129 "按钮(Button)"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/ui_components/buttons.md
error: ‘Button’ has not been declared
 error: ‘Widget’ has not been declared
error: expected ‘,’ or ‘...’ before ‘type

[2018-03-05 05:38] #129 closed

[2018-03-05 06:44] hdldalin opened #130 "视差滚动"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/other_node_types/parallax.md

[2018-03-05 07:55] drelaptop commented on #130
what feedback do you want to said? or it's a mistake

[2018-03-11 08:36] SingleShadow opened #133 "最后一句“如何发发生”应为“如何发生”吧"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/basic_concepts/director.md

[2018-03-11 13:06] drelaptop commented on #133
thanks, GitHub 的已经更改了，中文网站，文档同步有较大延迟

[2018-03-11 13:12] slackmoehrle commented on #133
同步发生在每晚。是失败的？我的更改正在部署。

[2018-03-15 02:01] #133 closed

[2018-03-15 02:01] #130 closed

[2018-03-15 02:03] drelaptop commented on #106
CMake have supported prebuilt libs, Refer to https://github.com/cocos2d/cocos2d-x/blob/v3/cmake/README.md

[2018-03-15 02:03] #106 closed

[2018-03-23 05:26] chenyuxiangg opened #137 "Win10，vs2015环境，cpp-texts编译成功，运行出错。"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/installation/Windows.md

错误提示为访问冲突

[2018-03-23 06:19] drelaptop commented on #137
什么访问冲突，贴一下报错的详细信息，截图之类

[2018-03-23 06:33] chenyuxiangg commented on #137
手机上贴不了图我写一下吧：

0x00000000处（位于cpp-texts.exe）引发的异常:0xC0000005，执行位置0x00000000时发生访问冲突。

[2018-03-23 06:58] drelaptop commented on #137
0x00000000访问冲突，就是空指针异常，什么时候到电脑上看看报错堆栈，可能是 OpenGL 驱动的问题，不是 Bug，论坛有类似的帖子 http://forum.cocos.com/c/cocos2d-x, 请到论坛讨论

[2018-03-23 06:58] #137 closed

[2018-03-23 10:29] chenyuxiangg commented on #137
我去看了，然后下载了Github的代码，还是没能解决，依然是这种结果

[2018-03-23 10:34] drelaptop commented on #137
这不是代码的问题，是环境配置的问题，GitHub 最新的代码，你可以试着用 cmake 生成 VS 工程，看 cmake 目录下的 Readme.md

[2018-03-23 10:35] chenyuxiangg commented on #137
好👌谢啦

[2018-03-23 15:25] slackmoehrle commented on #70
I have revamped the instructions testing on 17.x and now I will backtest on 16.04. I think there will be a few minor corrections. https://github.com/cocos2d/cocos2d-x-docs/pull/136#issuecomment-373837989

I no longer use install-linux-deps.sh

[2018-03-26 08:04] kkli28 opened #141 "自定义事件"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/event_dispatcher/custom.md

在写自定义事件的时候，遇到了一个问题。文档中添加listener时使用的是：addEventListenerWithFixedPriority，而新手想要的通常是：addEventListenerWithSceneGraphPriority，因为Node销毁后，如果用前者，可能导致在事件处理函数中调用Node的方法时，出现Node不合法的问题。表述不清楚，见谅。

[2018-03-27 17:41] toyee opened #144 "基本概念"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/basic_concepts/index.md

[2018-03-28 02:41] drelaptop commented on #141
对于 `addEventListenerWithSceneGraphPriority `, 如果事件处理函数调用Node方法，Node销毁，可以避免这样的结果吗？如果可以的话，能否解释一下

[2018-03-28 02:42] drelaptop commented on #144
Any feedback？or it's a mistake

[2018-03-28 02:42] #144 closed

[2018-03-28 03:03] kkli28 commented on #141
我是新手，也不太明白，换了addEventListenerWithSceneGraphPriority就不会崩溃了。用addEventListenerWithFixedPriority，该listener在Node销毁后也会存在的吧？如果Node销毁，事件处理函数lambda中调用该Node的函数，this就不可用了，从而导致崩溃。不知道该说法是否正确啊。或者说，能否在文档中该节处再提醒一下两者的关系呢？毕竟新手使用自定义事件时，都是抄文档上的方法的。。。而通常崩溃后也不会注意到是这个地方出错。

[2018-03-28 03:14] toyee commented on #144
No

------------------

欧阳荡 | Ouyang Dang
总经理 General Manager

三亚桃源世界数字传媒有限公司
Sanya Taoyuan World Digital Media Co., Ltd.
电话/Tel: 0898-88898787
网址/Site: www.toyee.com
地址/Add: 海南省三亚市吉阳区河东路46号山水云天大厦13层

注意：本邮件所有内容属于保密内容，只发送至指定邮箱地址，如果误发贵处，请立即予以销毁；若指定的地址没有接收到全部内容或内容不清楚，请按上述电话或电邮告知于我，我会尽快与您联系，非常感谢！

This e-mail is intended only for the above addressee. It may contain privileged information. If you are

[2018-03-28 03:44] drelaptop commented on #141
非常感谢反馈，3.17 快发布了，同时要更新文档，到时候重新考虑一下这个地方

[2018-03-30 13:30] drelaptop opened #146 "suggest to add a new particle design tools [Effekseer] to "Particle System" chapter"
English Discuss: http://discuss.cocos2d-x.org/t/effekseer-particle-effect-editor-for-cocos2d-x/39772

中文讨论：http://forum.cocos.com/t/pu/58149

GitHub: https://github.com/effekseer/EffekseerForCocos2d-x

[2018-04-01 20:01] slackmoehrle commented on #146
I started a new PR here that includes adding this tool. https://github.com/cocos2d/cocos2d-x-docs/pull/147

[2018-04-02 01:21] drelaptop commented on #146
great, I will translate those docs later.

[2018-04-02 01:21] #146 closed

[2018-04-10 07:09] drelaptop opened #149 "Docs path is different between cocos.com and cocos2d-x.org"
For the creator_to_cocos2d-x docs,

[code]
One existed `manual`, another not, so that one link links one doc in both website always be failed.

[2018-04-10 22:33] slackmoehrle commented on #124
I will start adding this feature for our 3.17 does I am working on. #148

[2018-04-10 22:34] slackmoehrle commented on #56
Finishing in #148

[2018-05-15 13:21] erxat199 opened #153 "节点关系"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/basic_concepts/parent_child.md

[2018-05-21 03:52] jack156x opened #156 "鼠标事件"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/event_dispatcher/mouse.md

[2018-05-21 05:48] drelaptop commented on #141
fixed at https://github.com/cocos2d/cocos2d-x-docs/pull/155

[2018-05-21 05:48] #141 closed

[2018-05-21 05:49] drelaptop commented on #156
@jack156x 请问 鼠标事件 这一节有什么反馈的

[2018-05-21 05:50] drelaptop commented on #153
请问 节点关系 这一节有什么反馈的

[2018-05-21 05:50] drelaptop commented on #153
@erxat199

[2018-05-21 05:54] JokerKingXL opened #157 "场景(Scene)"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/basic_concepts/scene.md

[2018-05-21 05:54] #157 closed

[2018-05-21 08:37] yanglong86 opened #158 "Windows 平台"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/installation/Windows.md

[2018-05-28 09:18] Priority10 commented on #56
@slackmoehrle When it be will live?

[2018-06-08 08:42] amsureshs opened #159 "Software Installations"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/installation/index.md

Typo in the doc. Repeated "be installed" in the following text.
Cocos2d-x can be installed be installed on OS X, Windows ...

[2018-06-08 13:27] slackmoehrle commented on #159
Thanks. Fixed https://github.com/cocos2d/cocos2d-x-docs/pull/148

[2018-06-08 13:27] #159 closed

[2018-06-29 03:06] ITBOOSLI opened #160 "文档二级菜单报404"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/index.md

[2018-06-29 03:10] drelaptop opened #161 "add docs for libpng warning: iCCP: known incorrect sRGB profile"
warning fixed at https://github.com/cocos2d/cocos2d-x/pull/18908

related discuss at https://stackoverflow.com/questions/22745076/libpng-warning-iccp-known-incorrect-srgb-profile/

explain it, and tell our user how to solve this issue

[2018-06-29 03:16] slackmoehrle commented on #161
This has been discussed several times on the EN forums with fixes

[2018-06-29 03:33] slackmoehrle commented on #161
We could. Why don’t we give it a go. I’ll start it.

[2018-06-29 03:34] minggo commented on #161
Adding a FAQ is a good idea.

[2018-06-29 03:40] drelaptop commented on #160
二级菜单的第一节，在英文状态切换至中文时会 404，是由于中英文目录结构的差异导致的，单独访问中文或英文文档不会 404。

原因是大部分英文文档第一节内容较少，翻译到中文只有几句话，按照语言习惯，把英文的两节翻译到中文的一节了，显得内容充实。

[2018-06-29 03:40] #160 closed

[2018-06-29 03:42] drelaptop commented on #161
that's wonderful, I will follow you changes @slackmoehrle

[2018-06-29 03:43] drelaptop commented on #158
请描述问题的详细信息，不要只有一个 URL

[2018-06-29 03:43] #158 closed

[2018-06-29 03:43] #156 closed

[2018-06-29 03:44] #153 closed

[2018-07-14 00:10] Ams0x57 opened #162 "Android"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/installation/Android-Studio.md

proj.android-studio folder is missing. I used to use it in my android studio last year (maybe with 3.16 version). It no longer exists in 3.17 version. Please enlighten this ASAP. Is android studio no longer supported?

[2018-07-14 00:23] slackmoehrle commented on #162
I’ll fix this in the docs. proj.android-Studio is now proj.android. Just open the directory with Android Studio.

[2018-07-15 17:52] boiciy opened #163 "能不能有一个js的示例？现在只有C++的"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/sprites/polygon.md

能不能有一个js的示例？现在只有C++的

[2018-07-18 19:06] niaru opened #164 "What are Actions"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/actions/getting_started.md

Comments
// MoveBy - lets move the sprite by 500 on the x axis over 2 seconds
// MoveBy is relative - since x = 200 + 200 move = x is now 400 after the move

Isn't it should be 200 + 500 = 700?

[2018-07-18 21:34] slackmoehrle commented on #164
I will check and correct in PR. Thank you

[2018-07-21 06:35] #162 closed

[2018-07-21 06:37] drelaptop commented on #163
没有计划，具体请参考 js-tests 测试工程，学习

no plan to add JavaScript Example into our docs, please refer to __js-tests__ project to learn

[2018-07-21 06:37] #163 closed

[2018-07-24 05:15] proundwang opened #166 "引擎工具cocos2d-x"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/editors_and_tools/cocosCLTool.md
希望官方 大大 ,尽量把文档往详细的方向写。好多官方提供的接口，在官网文档上找不到介绍。新手逛论坛和社区也只能得到一些零碎的信息。

[2018-07-24 05:39] drelaptop commented on #166
关于这一部分，你有什么想了解的更详细的东西

https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/editors_and_tools/cocosCLTool.md

[2018-07-24 08:43] proundwang commented on #166
比如:创建项目的时使用cocos2d 的预编译库，而不是复制引擎项目的源码，到项目中。

[2018-07-24 09:07] drelaptop commented on #166
这个现在已经不支持，没有办法加。使用 cmake 支持预编译库，可以参考引擎目录 cmake/readme

[2018-08-08 03:34] LiveFonu opened #167 "动作序列"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/actions/sequences.md

能不能添加JavaScript实例

[2018-08-08 05:44] drelaptop commented on #167
cocos2d-js 新手建议转 cocos creator，大佬直接参考 js-tests 测试工程

[2018-08-08 05:44] #167 closed

[2018-08-18 23:45] mrosalesdiaz opened #168 "Pre-built Libraries"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/editors_and_tools/prebuilt_libraries.md

Would be good have more details in how configure the prebuild libs in the different IDEs that cocos2dx supports

[2018-08-18 23:58] slackmoehrle commented on #168
We support Android Studio and XCode only for IDE but the prebuilt libs are not being supported much longer.

[2018-08-19 05:33] mrosalesdiaz commented on #168
Ok
Thanks

[2018-08-25 02:50] sunshineLuLuLu opened #169 "CMake 指南"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/installation/CMake-Guide.md

[2018-08-25 04:35] drelaptop commented on #169
文档有什么问题吗？

Any question？

[2018-08-30 05:40] Crowccc opened #170 "Android 平台"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/installation/Android-Studio.md

cocos3.17创建的工程并没有pro.android_studio，只有pro.android

[2018-08-30 05:48] drelaptop commented on #170
多谢反馈，文档需要调整。

旧的 pro.android 是 eclipse 工程，已经移除了，现在 android studio 工程就是 pro.android，导入时请选择这个目录。

[2018-09-14 02:31] drelaptop opened #172 "add "generateJsonModelDebug FAILED" into Android FAQ"
https://github.com/cocos2d/cocos2d-x/issues/18769#issuecomment-420952597

related thread:

https://discuss.cocos2d-x.org/t/solved-android-build-failed-generatejsonmodeldebug/42293
http://forum.cocos.com/t/jenkins/56592

[2018-09-14 03:42] #170 closed

[2018-09-14 03:42] #169 closed

[2018-09-14 03:42] #166 closed

[2018-09-14 03:43] #168 closed

[2018-09-14 07:25] aaaa1990aaaa opened #173 "精灵控制"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/sprites/manipulation.md

个人感觉  代码例子是不是加上js脚本和lua脚本会好一点 对于像我这样看不懂c++的人 会有更好的用户体验
代码例子可以做成tab标签页的形式 会更好

[2018-09-14 07:55] drelaptop commented on #173
多谢反馈，加 lua 脚本接下来考虑做。tab 标签页的方式，是支持的。

[2018-09-14 08:02] aaaa1990aaaa commented on #173
是性能原因吗？

[2018-09-14 08:06] drelaptop commented on #173
lua 没加，主要是人力问题，后续会完善。

js 没计划的主要原因，是很多 cocos2d-js 的开发者转 creator 了，creator 有完善的文档。

[2018-09-14 08:10] aaaa1990aaaa commented on #173
多谢解答

[2018-09-14 08:10] #173 closed

[2018-09-23 11:54] tianruoyouxin opened #175 "动作(Action)"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/actions/index.md

[2018-09-23 12:44] drelaptop commented on #175
这一节有什么问题

please describe the issue

[2018-10-03 07:13] parrieta83 opened #177 "Basic Actions"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/actions/basic.md

Hi,
I was just checking how to use different Easing on actions and noticed "move_ease_in_back" is not defined.
I think it should be defined after the move_ease_in declaration, as:
auto move_ease_in_back = move_ease_in->reverse();
(and move_back should probably be deleted, as it's not used).

Best regards!

[2018-10-03 11:09] slackmoehrle commented on #177
Thank you.

Sent from my iPhone

[2018-10-09 00:14] kadko opened #178 "top layer??"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/en/other_node_types/parallax.md

[2018-10-09 00:59] slackmoehrle commented on #178
What do you mean?

[2018-10-09 01:58] slackmoehrle commented on #178
Thank you. I will fix.

[2018-10-10 03:31] tpnet opened #179 "为什么实例代码没有lua的呢，lua的用法在哪里看呢？"

[2018-10-10 05:38] drelaptop commented on #179
直接看测试例工程 lua-tests

[2018-10-10 05:38] #179 closed

[2018-10-10 12:31] #177 closed

[2018-10-10 12:32] #175 closed

[2018-10-10 12:36] slackmoehrle commented on #172
Fixed in PR

[2018-10-10 12:37] slackmoehrle commented on #172
I'll add Zh FAQ to docs/ also.

[2018-10-10 12:37] #172 closed

[2018-10-10 12:38] slackmoehrle commented on #149
This has now been fixed recently and we are deploying docs.cocos2d-x.org which finishes this fix.

[2018-10-10 12:38] #149 closed

[2018-10-10 13:41] #161 closed

[2018-10-10 13:43] slackmoehrle commented on #71
This is still technically an issue, no 404's now, just an incorrect page. I can work on re-organizing a bit as time allows.

[2018-10-10 13:50] slackmoehrle commented on #124
now in #176

[2018-10-23 03:15] Razorzxy opened #180 "动作(Action)"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/actions/index.md
我发现这个示例的动作执行和最终作者要表达的意思可能相悖，是我理解错了吗？
mySprite->setPosition(Vec2(200, 256));// 当前精灵的位置
auto moveBy = MoveBy::create(2, Vec2(500, mySprite->getPositionY()));//相对移动
此处是相对于坐标(200, 256)再移动(500, mySprite->getPositionY())，此处mySprite->getPositionY()是256，最终结果是精灵向它的右上角移动。并非图片展示的那样移动过去再移动回来。
我试着将相对移动的纵坐标修改成0。为了适应在窗口中观察，我把其他坐标做了相应

[2018-11-19 03:41] lengmo714 opened #187 "关于教程所使用的开发语言"
能否添加lua语言的教程

[2018-11-19 04:00] slackmoehrle commented on #187
我不相信我们拥有人力资源。

[2018-11-20 02:43] mrzhao12 opened #188 "Creator to Cocos2d-x 插件"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/editors_and_tools/creator_to_cocos2dx.md

完成上一步的场景导出后，reader 源码和 Creator 资源都被放到文件系统中了。此时你需要将这些东西，添加到工程中。

增加头文件搜索路径

将这些目录，添加到工程的头文件搜索路径中：

对于 C++ 项目：

[code]

这一步提示：
'dragonbones/cocos2dx/CCTextureData.h' file not found

怎么回事？？？？？

求解

[2018-11-20 03:01] drelaptop commented on #188
看一下 `CCTextureData .h` 在什么路径，确认一下头文件搜索路径

[2018-11-21 03:55] mrzhao12 commented on #188
已经好了，再header search path里添加提示缺少的头文件就可以了：
/Users/zhaotong/Desktop/cocos2dx/1120cocosTest/MyGame/Classes/reader

/Users/zhaotong/Desktop/cocos2dx/1120cocosTest/MyGame/Classes/reader/dragonbones/cocos2dx/CCTextureData.h

完美解决问题报错，具体的可以查看教程：

坑在creator_to_cocos2dx 插件（Mac下xcode）
https://www.jianshu.com/p/97421b0cece9

[2018-11-21 04:39] #188 closed

[2018-11-21 04:39] #187 closed

[2019-01-28 11:17] slackmoehrle opened #195 "Q1 2019 Documentation enhancements"
### Sample game
- [ ] start adding how to make a complete game at the end of each chapter.

### New Topics
- [ ] RenderTexture
- [ ] ClippingNode
- [ ] Saving game data
  - [ ]  User Defaults
  - [ ] SQLite
    - [ ] setup, creation, connecting, destruction
    - [ ] working with data
      - [ ] selecting data
      - [ ] updating data
      - [ ] inserting data
    - [ ] Use cases
      - [ ] tr

[2019-01-28 11:18] slackmoehrle commented on #195
#194

[2019-02-13 06:27] Crazy-MT opened #197 "Android 平台"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/installation/Android-Studio.md
用 Android Studio 打开 proj.android 项目的时候，需要安装 ninja ， Mac 平台可以执行 brew install ninja 安装。

[2019-03-01 12:19] COCO5666 opened #199 "了解引擎"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/index.md

文档麻烦更新下，现在还是3.17的文档，另外把安卓打包那里麻烦详细说下，使用新版引擎（3.17.1）老是弄不成

[2019-03-01 12:20] COCO5666 opened #200 "Android 平台"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/installation/Android-Studio.md

文档麻烦更新下，现在还是3.17的文档，另外把安卓打包那里麻烦详细说下，使用新版引擎（3.17.1）老是弄不成

[2019-03-01 12:32] COCO5666 commented on #197
老哥，Windows怎么安装ninja？发现使用cmake不行，而且官网文档确实没有这方面的说明

[2019-03-01 13:11] slackmoehrle commented on #197
https://github.com/ninja-build/ninja/releases

[2019-03-01 13:11] #197 closed

[2019-03-01 13:15] slackmoehrle commented on #199
can you be more specific to your concerns/issues, please.

[2019-03-01 13:16] slackmoehrle commented on #200
duplicate

[2019-03-01 13:16] #200 closed

[2019-03-01 13:17] slackmoehrle commented on #180
你还需要帮忙吗？

[2019-03-02 01:16] COCO5666 opened #201 "Android 平台"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/installation/Android-Studio.md

When I try to pack to Android according to your doc , I cannot work successfully using the latest version of Cocos (3.17.1). I think the doc needs to be updated. When you write the doc ,make it as detailed as possible, or you can record a video. Thank you in advance.

When I try to pack to Android using

[2019-03-06 09:23] rainivy opened #204 "SQLite 集成 TODO"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/advanced_topics/sqlite.md

Inserting Data
Updating Data
Closing The Database

[2019-03-06 12:06] slackmoehrle commented on #204
I am working on these steps.

[2019-03-08 13:02] slackmoehrle opened #205 "Design Resolution, Aspect Ratio doc updates"
## Outline for Design Resolution and Aspect Ratio doc updates

### Design Resolution
[] - what is design resolution
[] - why do I have to set design resolution? or do I?
[] - what considerations should I take into account when deciding on a design resolution
[] - how does design resolution effect my artwork?

### Aspect Ratio
[] - what is aspect ratio
[] - what are the most common aspect ratios
[]

[2019-03-20 03:21] #70 closed

[2019-04-18 19:00] slackmoehrle commented on #204
I created a tutorial on SQLite now I will update the docs.

[2019-05-02 09:49] HanqingTony opened #217 "多边形精灵"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/sprites/polygon.md

应为顶点

[2019-05-28 18:03] Hu-YX opened #222 "引擎工具"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/editors_and_tools/cocosCLTool.md

[2019-05-31 02:05] connorgame opened #229 "添加引擎架构图"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/index.md

文档缺乏引擎架构图，新手难以整体理解引擎。

[2019-06-19 09:05] Boshan11 opened #232 "引擎优势"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/about/index.md

你好，是否有考虑支持Flutter？

[2019-06-24 05:30] chenruyi opened #233 "场景(Scene) image url not exists"
URL : https://github.com/cocos2d/cocos2d-x-docs/blob/master/zh/basic_concepts/scene.md

the image url not found:
https://docs.cocos.com/cocos2d-x/manual/zh/basic_concepts/basic_concepts-img/tree.jpg

[2019-06-24 05:36] chenruyi commented on #233
I check the en docs and the image show.
The en doc image url is :
https://docs.cocos.com/cocos2d-x/manual/en/basic_concepts/basic_concepts-img/tree.jpg

[2020-01-10 12:39] mrexodia opened #292 "Bug when trailing slash on the live page"
If you go to:

https://docs.cocos2d-x.org/cocos2d-x/v4/en/basic_concepts/

You have the link [installation docs](https://docs.cocos2d-x.org/cocos2d-x/v4/en/installation), which does not contain a trailing `/` in the link. This is fine if you manually go there (because the `/` is added by a redirect), but if you click through on the same page there will be corrupt links.

For example the `Android S

[2020-01-10 14:34] slackmoehrle commented on #292
thank you. I will fix this today and re-deploy the docs.

[2020-01-12 23:59] slackmoehrle commented on #292
I've tried to find this bug, but when I follow the URL you provide everything contains the `/installation/` directory.

<img width="764" alt="Screen Shot 2020-01-12 at 18 56 38" src="https://user-images.githubusercontent.com/7491758/72227675-a8ec7e80-356d-11ea-917b-1c4fdfc50841.png">

[2020-01-13 13:05] mrexodia commented on #292
If you follow `https://docs.cocos2d-x.org/cocos2d-x/v4/en/installation` it will work, because you are redirected to `../installation/`. This issue only happens if you go to https://docs.cocos2d-x.org/cocos2d-x/v4/en/basic_concepts/ and normal click (eg not open in new tab) on the `installation docs` link. I tested in Chrome.

[2020-01-13 13:15] slackmoehrle commented on #292
I’ll test with Chrome. I can’t reproduce this. I’ll make a video of what I’m doing so you can see

[2020-01-13 13:24] mrexodia commented on #292
I also tested and it's causing this problem so far in Chrome, Firefox and Opera (with various different PCs, also with a clean cache). Very strange indeed...

[2020-01-13 18:11] slackmoehrle commented on #292
I can now reproduce this. I tried to make a ,gif but it failed. I uploaded a .mov here:

https://www.icloud.com/iclouddrive/0b8IjnztdO69QtVOR2UwTVKcA#url_bug

[2020-01-13 18:34] slackmoehrle commented on #292
ok, I tried removing the trailing __/__ and re-deploying but that didn't help fix. It is so weird. Perhaps there is a caching issue because if I refresh the page the links work.

[2020-01-13 18:44] mrexodia commented on #292
I think it’s related to the way the redirect is communicated to the browser
by the server. See my earlier curl examples. With a clean cache this issue
still happens and it works perfectly when using gitbook serve, so it must
be related to the server response I’d say...

On Mon, 13 Jan 2020 at 19:34, Slack-Moehrle <notifications@github.com>
wrote:

[2020-01-13 18:46] mrexodia commented on #292
Could you somehow share your deployment scripts or method and server
configuration. I could then try to reproduce the issue with “realistic”
parameters.

On Mon, 13 Jan 2020 at 19:44, Duncan Ogilvie <mr.exodia.tpodt@gmail.com>
wrote:

[2020-01-13 18:56] slackmoehrle commented on #292
This is what I run to deploy: https://github.com/cocos2d/cocos2d-x-docs-deps/blob/Q3-2019-1/deploy-cocos2dx.sh

[2020-01-13 19:59] mrexodia commented on #292
So that's basically just `gitbook build`. And what is the nginx configuration (roughly)?

[2020-01-13 20:14] mrexodia commented on #292
I found this: https://github.com/GitbookIO/gitbook/commit/5f3de0876fd33f77df0eb3ccccd1f964e3a811bc which seems to fix this issue for `gitbook serve` (which is also what the curl things I did earlier show).

[2020-01-13 20:17] slackmoehrle commented on #292
it's like this, minus ssl:

[code]

On Mon, Jan 13, 2020 at 3:14 PM Duncan Ogilvie <notifications@github.com>
wrote:

--
Community Evangelist
Cocos2d-x

Like us on Facebook!: https://www.facebook.com/cocos2dx/
Follow us on Twitter: https://twitter.com/cocos2dx

Announcements: http://discuss.cocos2d-x.org/c/announcements
Our Programmers Guide: http://cocos2d-x.org/docs/
Our Forums: http://discuss.c

[2020-01-13 20:43] mrexodia commented on #292
With Caddy I also encountered this issue and this fixed everything for me:

[code]

I will try to reproduce things with nginx, but I am not as familiar with it, so bear with me...

[2020-01-13 21:58] mrexodia commented on #292
[code]

I figured out that you have to set `X-Current-Location` to whatever the current location is (surprise lol). The useful part:

[code]

[2020-01-14 00:19] slackmoehrle commented on #292
ok, so I read up on this and read your reply and I think this is fixed now. Can you please try testing on your end? I tested in Firefox and Chrome.

[2020-01-14 10:28] mrexodia commented on #292
It looks like everything is working correctly now, thanks!

[2020-01-14 10:28] #292 closed

[2020-01-14 10:41] slackmoehrle commented on #292
No thank you! Thanks for helping research and find a solution.

[2020-06-18 15:39] zhouhao27 opened #296 "How to integrate cocos2d-x to a existing ios/android project?"
I want to run a small game in part of my screen of my existing Android and iOS application. Is it possible to integrate the cocos2d-x in my existing project? Thanks.

[2020-06-19 17:12] slackmoehrle commented on #296
our forums are a batter place to ask technical questions. https://discuss.cocos2d-x.org/

[2020-06-19 17:12] #296 closed

[2021-01-05 20:11] Joilnen opened #298 "I can't run gitbook serve inside en directory"
Someone know how to fix this ?

$ gitbook serve
Live reload server started on port: 35729
Press CTRL+C to quit ...

/usr/lib/node_modules/gitbook-cli/node_modules/npm/node_modules/graceful-fs/polyfills.js:287
      if (cb) cb.apply(this, arguments)
                 ^

TypeError: cb.apply is not a function
    at /usr/lib/node_modules/gitbook-cli/node_modules/npm/node_modules/graceful-fs/polyfills.

[2021-01-05 20:36] slackmoehrle commented on #298
I’m experiencing this as well. I don’t know if a fix yet.

[2021-01-05 21:33] Joilnen opened #299 "I can't build it"
cd /cocos2d-x-docs/en
gitbook build
info: 7 plugins are installed
info: 6 explicitly listed
info: loading plugin "highlight"... OK
info: loading plugin "search"... OK
info: loading plugin "lunr"... OK
info: loading plugin "sharing"... OK
info: loading plugin "fontsettings"... OK
info: loading plugin "theme-default"... OK
info: found 112 pages
info: found 237 asset files
node:internal/streams/reada

[2021-02-05 07:10] JIHOI-KIM opened #300 "[Typo] Wrong ndk version guide in 'Prerequisites' page"
----------------- Now -------------------
NDK r91c+ is required to build Android games (tested with r19c) May be called 19.2.xx from within Android Studio
------------------------------------------
I don't think 'r91c' version exist. I hope it is typo of 'r19c'.

[2021-03-12 11:07] slackmoehrle commented on #300
Thank you.

[2021-09-21 11:20] Bilalmirza opened #316 "Latest cocos2d-x crashes with spine"
all  v3.7spine files crash on latest v4 cocos2d-x
v4.0 spine with skins crash
v3.8 spine skins work incorrectly

result in v4
<img width="1021" alt="Screenshot 2021-09-10 at 1 26 54 PM" src="https://user-images.githubusercontent.com/3693453/134161699-49822db8-e643-48c6-befb-fdef3414aece.png">

[2021-09-21 11:24] Bilalmirza commented on #316
wrong placement for attachment. The plane is suppose to have a fan on the front but the scarf is attached to it.

[2021-09-22 16:26] crookedbard opened #317 "Does not work on iMac M1 BigSur"
cocos run -p Mac:

 "_png_write_image", referenced from:
      cocos2d::Image::saveImageToPNG(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > const&, bool) in libcocos2d.a(CCImage.o)
  "_png_write_info", referenced from:
      cocos2d::Image::saveImageToPNG(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > const&, bool) in l

[2021-09-22 16:32] #317 closed

[2021-12-12 19:37] c0de-m0nk3y opened #318 "Windows Installation Documentation is outdated/inaccurate?"
https://docs.cocos.com/cocos2d-x/manual/en/installation/Windows.html

Hello. I was looking to start using Cocos2d-x framework in Visual Studio 2022 for Windows 10.
I followed the instructions as per above link. But there is no 'builds' folder in the zip file provided.

I understand it may be possible to create a vproj etc using cmake, but since the instructions are telling me there should be a bui